<div
class="d-flex flex-column align-items-center"
id="foot"
style="
  margin-top: 50px;
  width: 100vw; /*position: absolute;*/
  bottom: 0px;
  margin-bottom: 0px;
"
>
<h5 class="text-center" style="font-family: 'Roboto Slab', serif;">
  Brought to you by
</h5>
<div
  class="text-center d-flex d-xl-flex justify-content-center align-content-center flex-wrap align-items-xl-center"
  style="
    width: 50vw;
    color: rgb(255, 255, 255);
    background-color: #ffffff;
    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    border-color: transparent;
    margin-bottom: 0px;
    max-width: 550px;
  "
>
  <img
    class="img-fluid flex-grow-0 flex-shrink-1"
    src="../assets/img/lit_club.png"
    style="
      margin: 5px;
      width: 280px;
      margin-top: 0px;
      margin-bottom: 0px;
      padding-bottom: 10px;
    "
  /><img
    class="img-fluid flex-grow-0 flex-shrink-1"
    src="../assets/img/dc_logo.png"
    style="
      margin: 5px;
      width: 250px;
      margin-top: 0px;
      margin-bottom: 0px;
      padding-bottom: 10px;
    "
  />
</div>
</div>