<header class="d-xl-flex justify-content-xl-center" style="width: 100vw;">
    <input
      type="checkbox"
      id="main-navigation-toggle"
      class="btn btn--close"
      title="Toggle main navigation"
      style="z-index: 400;"
    />
    <label for="main-navigation-toggle" style="z-index: 400;">
      <span
        id="ham"
        style="text-align: center; font-family: 'Josefin Sans'; z-index: 400;"
        >LINKS</span
      >
    </label>
    <div id="main-navigation" class="nav-main">
      <div class="d-flex justify-content-center align-items-center menu">
        <ul
          class="list-unstyled text-uppercase text-center"
          style="
            list-style-type: none;
            font-size: 60px;
            font-family: 'Josefin Sans', sans-serif;
            font-weight: normal;
            font-style: normal;
            letter-spacing: 4px;
            line-height: 100px;
          "
        >
          <li><a href="home">- HOME -</a></li>
          <li><a href="webinar">- LIVE -<br/>STREAMING</a></li>
          <li><a href="games">- Games -</a></li>
          <li><a href="tutorials">- Tutorials -</a></li>
        </ul>
      </div>
    </div>
  </header>
